
/.vs
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
.vscode/
appsettings.Development.json
*.pfx
Thumbs.db
ehthumbs.db
.DS_Store
*.log
node_modules/
TestResults/
Important/
**/something.txt
.txt
.png
.env
Dockerfile
decoder.py
encoder.py
something.txt
.png
.PNG
