################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
.vscode/
appsettings.Development.json
*.pfx
Thumbs.db
ehthumbs.db
.DS_Store
*.log
node_modules/
TestResults/
Important/
**/something.txt
