
/.vs
.build/
.publish-check/
.publish-check2/
.publish-test/
.docker-build/
__pycache__/
*.pyc
bin_verify/
obj_verify/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
.vscode/
appsettings.Development.json
appsettings.Local.json
appsettings.*.Local.json
launchSettings.local.json
*.pfx
Thumbs.db
ehthumbs.db
.DS_Store
*.log
node_modules/
TestResults/
.png
.env
*.env
