**/bin
**/obj
**/.vs
**/.vscode
**/node_modules
**/*.user
**/*.suo
**/*.db
**/*.cache
**/TestResults
**/__pycache__
**/*.pyc
**/.publish-check
**/.publish-check2
**/.publish-test
**/.build
**/bin_verify
**/obj_verify
