<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/542eee8d-9a6a-4220-837e-a2922590a4f2/resourcegroups/Enigma20260216141444ResourceGroup/providers/Microsoft.Web/sites/PRO150EnigmaZip</ResourceId>
    <ResourceGroup>Enigma20260216141444ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pro150enigmazip-a5c4auhzd8apbkhu.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>fdf11fc5-0927-6fbe-abb9-3795e4657a9b</ProjectGuid>
    <PublishUrl>https://pro150enigmazip-a5c4auhzd8apbkhu.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>