@page "/home"

<div class="hero">
    <h1>Welcome to Enigma</h1>
    <p>
        View options below:
    </p>
</div>

<div class="grid grid-auto">

    <div class="game-card clickable" @onclick="OnPlayClick">
        <div class="game-card-image"></div>
        <div class="game-card-content">
            <div class="game-card-title">Play</div>
            <div class="game-card-meta">Generate or load a maze</div>
        </div>
    </div>

    <div class="game-card clickable" @onclick="OnLeaderboardsClick">
        <div class="game-card-image"></div>
        <div class="game-card-content">
            <div class="game-card-title">Leaderboard</div>
            <div class="game-card-meta">See top mazes</div>
        </div>
    </div>

    <div class="game-card clickable" @onclick="OnProfileClick">
        <div class="game-card-image"></div>
        <div class="game-card-content">
            <div class="game-card-title">Profile</div>
            <div class="game-card-meta">View your stats & history</div>
        </div>
    </div>

    <div class="game-card clickable" @onclick="OnLogoutClick">
        <div class="game-card-image"></div>
        <div class="game-card-content">
            <div class="game-card-title">Logout</div>
            <div class="game-card-meta">Return to login screen</div>
        </div>
    </div>

</div>

@code {
    [Inject] NavigationManager NavigationManager { get; set; } = default!;

    void OnPlayClick()
    {
        NavigationManager.NavigateTo("/play");
    }

    void OnLeaderboardsClick()
    {
        NavigationManager.NavigateTo("/leaderboard");
    }

    void OnProfileClick()
    {
        NavigationManager.NavigateTo("/profile");
    }

    void OnLogoutClick()
    {
        NavigationManager.NavigateTo("/");
    }
}